@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

:root {
    --amarillo: #FEDD62;
    --naranja: #F48B48;
    --rosado: rgb(244,171,186);
    --marron: #665931;
  }

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.CutePaws {
    display: flex;
    align-items: center;
    height: 120px;
    padding: 5px 10%;
    background-color: var(--amarillo);
    color: #665931;
    cursor: default;
}

.CutePaws img{
    width: 90px;
    border-radius: 50%;
    display: inline-block;
}

h1 {
    color: var(--marron);
    padding-left: 20px;
    font-size: 30px;
}
h3 {
    color: var(--marron);
    padding: 5px 10%;
    font-size: 25px;
}
h4 {
    color: black;
    padding: 40px 10% 20px;
    font-size: 20px;
}
/* estilos para la barra de navegacion */


nav {
    background-color: var(--naranja);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px 10%;
}
nav ul{
    padding: 0;
    list-style: none;
    display: flex;
}
nav ul li{
    display: inline-block;
    padding: 0 20px; 
}
nav ul li a:hover{
    color: white;
}
nav ul li a{
    font-weight: 700;
    font-size: 20px;
    color: var(--marron);
    text-decoration: none;
}
.btn button{
    font-weight: 700;
    color: var(--marron);
    padding: 5px 25px;
    background: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/* carousel estilos */

.carousel {
    position: relative;
    width: 100%;
    height: 55vw;
    overflow: hidden;
    display: block;
}

.carousel-image {
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}
.carousel-image:not(:first-child){
    opacity: 0;
}


.carousel{
    background-color: var(--amarillo);
}

body {
    background-color: white;
    color: black;
}
p {
    color: black;
}

h2 {
    color: black;
}
footer{
    display: -moz-inline-box;
    text-align: center;
    background-color: var(--naranja);
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 5px 10%;
}
footer a{
    align-items: center;
    padding: 0;
    margin-left: 2%;
    margin-right: 2%;
    list-style: none;
    display: flex;
    font-size: 700;
    color: white;
    text-decoration: none;
    font-weight: 100;
    
}
.fa {
    
    padding: 2px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    /* margin: 10px 10px; */
}
.contenido{
    padding: 2% 10% 2% 10% ;
    text-align: justify;
}
.seccion{
    padding: 1% 1% 1% 0%;
}

.petImagenes{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

input[type=text], select{
    width: 100%;
    /* padding-top: 12px;
    padding-bottom: 12px; */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: var(--naranja);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: var(--marron);
}

.formulario {
    border-radius: 5px;
    padding: 5px 10% 20px 10%;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media only screen and (max-width: 768px) {
    /* For mobile phones: 
    Hasta 768 px se va a comportar de esta forma: 
    Todas las clases que tengan la palabra col- en su nombre
    van a tener un ancho del 100%, ocupando todo el viewport*/
    h1 {
        font-size: 20px;
    }
    footer a{
        font-size: 10px;
    }
    nav ul li a{
        font-weight: 700;
        font-size: 15px;
    }
    .btn button{
        font-weight: 700;
        padding: 5px 25px;
        font-size: 12px;
    }
    .col-25, .col-75, input[type=submit] {
        width: 100%;
      }
    input[type=submit] {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}